#app-border {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.message-box {
	display: inline-block;
  position: relative;
  background-color: #ede4ff;
  text-align: center;
  padding: 10px;
}

.message-box p {
  margin: auto;
  font-size: 20pt;
}

/* Passages */
.passage-box {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20pt;
  margin-top: 5px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

.answer-radio-group label {
  margin-left: 10px;
}

/* Self-explanation */
.se-message-box {
  background-color: #ede4ff;
}

.se-message-box span {
  line-height: 0;
}

.se-message-input {
  background-color: #ede4ff;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

#se-message-col {
  overflow-y: scroll;
}

.se-send-button {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.se-send-button:focus {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}